    body {
        font-family: Arial, sans-serif;
        margin: 0px;
        background: repeating-linear-gradient(45deg, #323232,
                #323232 10px,
                #2F2F2F 10px,
                #2F2F2F 20px);
    }

    .header {
        padding: 10px 0px 0px 0px;
        background: #f8f8f8
    }

    h1 {
        margin: 5px 0px 0px 0px;
        text-align: center;
        color: #d32f2f
    }

    button,
    select {
        display: block;
        margin: 10px auto;
        padding: 10px 20px;
        font-size: 1em;
        border-radius: 5px;
        border: none
    }

    button {
        background: #d32f2f;
        color: #fff;
        cursor: pointer
    }

    select {
        background: #fff;
        border: 1px solid #ccc
    }

    #filter-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        align-items: center;
    }

    #pokedex {
        margin: 0px 0px 0px 0px;
        padding: 25px;
        border-radius: 25px;
        background: repeating-linear-gradient(45deg, #FFFFFF,
                #FFFFFF 10px,
                #F5F5F5 10px,
                #F5F5F5 20px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 75%;
    }

    .pokemon {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        width: 200px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        cursor: pointer;
        transition: transform .2s
    }

    .pokemon:hover {
        transform: scale(1.05)
    }

    .pokemon img {
        width: 96px;
        height: 96px;
        object-fit: contain
    }

    .pokemon h3 {
        margin: 10px 0 5px;
        font-size: 1.2em
    }

    .pokemon p {
        margin: 4px 0;
        font-size: .9em
    }

    .main-background-section {
        display: flex;
        justify-content: center;
        background: repeating-linear-gradient(45deg, #323232,
                #323232 10px,
                #2F2F2F 10px,
                #2F2F2F 20px);
    }

    .searchbar {
        height: 100%;
        border-radius: 5px;
        border: 1px gray solid;
    }
    .page-mover {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .page-mover >p {
         color: white;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
        background: #f8f8f8
    }
    .team {
        display: flex;
        justify-content: center;
        padding: 15px 0px 0px 0px
    }
    .team > ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 10vh;
        margin: 0px;
    }
    .team > ul > li {
        margin-left :25px;
    }